.button {
  padding: 0.5rem 1rem;
  background-color: var(--blue-600);
  color: white;
  border-radius: 0.25rem;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue-700);
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px var(--blue-500);
}

.button:active {
  background-color: var(--blue-800);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
